<section fxLayout="column">

    <mat-toolbar color="primary">
        <mat-toolbar-row>

            <p>Transportadoras |</p>
            
            <div fxFlex></div>

            <button mat-raised-button [routerLink]="['c']">
                <span>Cadastrar sua transportadora</span>
            </button>

        </mat-toolbar-row>
    </mat-toolbar>

    <section fxFlex fxLayout="column">
        <div fxFLex="10">
            <p>Filtro aqui</p>
        </div>

        <div fxFlex>
            <h2 *ngIf="!listaDeTransportadoras.length">Nenhum registro</h2>
            <ng-container *ngFor="let transportadora of listaDeTransportadoras">
                <app-item-lista-transportadora [transportadora]="transportadora"></app-item-lista-transportadora>
            </ng-container>
        </div>
    </section>

</section>
